{% extends "base.html.twig" %}

{% block body %}

	<table class="table">
		<thead>
			<tr>
				<th>Marque</th>
				<th>Modèle</th>
				<th>Description</th>
				<th>Prix</th>
			</tr>
		</thead>
		<tbody>
			{% for voiture in voitures %}
				<tr>
					<td>{{ voiture.marque }}</td>
					<td>{{ voiture.modele }}</td>
					<td>{{ voiture.description }}</td>
					<td>{{ voiture.prix }}€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
